DATABASE_URL=postgresql://postgres:root@localhost:5432/db_name?schema=public
JWT_SIGNATURE=secret123456789
FRONTEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGIN=*
PORT=3300

V1_SYNC_PASSWORD=

AWS_REGION=
AWS_BUCKET_NAME=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

RPC_PROVIDER=
ETH_RPC_PROVIDER=
CONTRACT_ADDRESS=
ADMIN_PRIVATE_KEY=
WEARABLES_CONTRACT_ADDRESS=0x412e1237a5bD007D602574071812697AF5d14578


# Optional
SSL_KEY_PATH=/etc/letsencrypt/live/api.alienzone.io/privkey.pem
SSL_CERT_PATH=/etc/letsencrypt/live/api.alienzone.io/fullchain.pem
HTTPS_PORT=443