DATABASE_URL=postgresql://postgres:root@localhost:5432/db_name?schema=public
JWT_SIGNATURE=secret123456789
FRONTEND_URL=http://localhost:3000
PORT=3300

V1_SYNC_PASSWORD=

AWS_REGION=
AWS_BUCKET_NAME=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...